{% import "macros.txt.template" as macros %}

allocations:
{{ macros::show_balances(pattern="allocations:(checking|savings)") }}
savings:
{{ macros::show_balances(pattern="(bofa$|personal:cash|ally:)") }}
cleared:
{{ macros::show_balances(pattern="(assets:checking|chase$)", cleared=true) }}
everything:
{{ macros::show_balances(pattern="(assets:checking|chase$)") }}
overview:
{{ macros::show_balances(pattern="(allocations:checking:savings:emergency|allocations:checking:available)") }}